# Backend
SUPABASE_URL=https://udxgqyiemjrtgxigchzb.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeGdxeWllbWpydGd4aWdjaHpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNDA3MzcsImV4cCI6MjA4NzkxNjczN30.o3LZbhe0O6MUtgOjXawdOTVGfZ9oXHKq3XDeYGnOAJ0
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeGdxeWllbWpydGd4aWdjaHpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNDA3MzcsImV4cCI6MjA4NzkxNjczN30.o3LZbhe0O6MUtgOjXawdOTVGfZ9oXHKq3XDeYGnOAJ0
RAZORPAY_KEY_SECRET=your_razorpay_secret
SECRET_KEY=28d6c426cfe314a397950b818495de7a56d0d0117ecb3fbed62a351c2981d29f
PORT=5000

# Frontend (create as frontend/.env)
VITE_SUPABASE_URL=https://nmeevejelaxdpuocefnw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5tZWV2ZWplbGF4ZHB1b2NlZm53Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMzI1NzcsImV4cCI6MjA4NzkwODU3N30.31ZHYh1kvWiu5qac3-NL5aW4mlKKBFMLDfSM6j8FWa8
VITE_API_URL=http://localhost:5000/api
